/**/

.wpc2o-expand-details-content {
    display: none;
    list-style-type: circle;
    padding-left: 16px;
}

.wpc2o-expand-details-content.show {
    display: block;
}

#wpc2o-example-json {
    display: none;
}

#wpc2o-example-json.wpc2o-example-show {
    display: block;
}
